<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <div>
    <li>Title: <%= task.title %></li>
    <li>Details: <%= task.details %></li>
    <li>Completed? <%= task.completed %></li>
    </div>
  <% end %>
</ul>