<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <div>
    <li>Title: <%= task.title%> Completed? <%= task.completed %></li>
    <%= link_to task["id"], task_path(task["id"]) %>
    </div>
  <% end %>
</ul>